extends layout

block content
    nav.navbar.navbar-default.navbar-fixed-top
        div.container-fluid
            div.navbar-header
                button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/") Who Am I?
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/account') My Account
                    li
                        a(href='/play') Play
                    li
                        a(href='#') Leaderboard

    div.container.center
        div.row
            div.col
                h1.text-center.who-am-i-title Who Am I?
                div.jumbotron.fact
                    blockquote.fact
                        h2 #{question.facts[0]}
                div.jumbotron.fact
                    blockquote.fact
                        h2 #{question.facts[1]}
                div.jumbotron.fact
                    blockquote.fact
                        h2 #{question.facts[2]}
                div.jumbotron.fact
                    blockquote.fact
                        h2 #{question.facts[3]}
                div.jumbotron.fact
                    blockquote.fact
                        h2 #{question.facts[4]}