extends layout

block content
    div.container.center
        div.row
            div.col
                h1.text-center.who-am-i-title Who Am I
                    div.jumbotron
                        h1 #{question.facts[0]}
                    div.jumbotron
                        h1 #{question.facts[1]}
                    div.jumbotron
                        h1 #{question.facts[2]}
                    div.jumbotron
                        h1 #{question.facts[3]}
                    div.jumbotron
                        h1 #{question.facts[4]}